<aside class="cart-sidebar-overlay" id="cartSidebar">
  <div class="cart-sidebar">
    <div id="cartSidebarContent">
      <!-- Cart content will be rendered here by JS -->
    </div>
  </div>
</aside> 